#container {
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.hidden {
    /* display: none; */
    border: 2px solid black;
   
}

#modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;


}


